<%@ page import="friendsofnow.School" %>



<div class="fieldcontain ${hasErrors(bean: schoolInstance, field: 'students', 'error')} ">
	<label for="students">
		<g:message code="school.students.label" default="Students" />
		
	</label>
	
</div>

