<%@ page import="friendsofnow.Event" %>



<div class="fieldcontain ${hasErrors(bean: eventInstance, field: 'invited', 'error')} ">
	<label for="invited">
		<g:message code="event.invited.label" default="Invited" />
		
	</label>
	
</div>

